@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

/* header section */

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: fixed;
  box-shadow: 0 0 3px;
  background-color: white;
}

/* img {
  width: 100%;
} */

.container {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {}

.buy-button {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 25px;
  background-color: #0a4d3c;
  color: white;
  border-radius: 50px;
}

/* hero/banner section */

.hero {
  height: 800px;
  background-image: url(../images/slider-landing.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}